$time-font-size: 70px;

.time {
  font-size: $time-font-size;
  margin: 16px auto 0 auto;
  text-align: center;
  font-weight: 100;
}

.date {
  text-align: center;
}

.slide-unlock {
  font-size: 22px;
  text-align: center;
  position: absolute;
  font-weight: normal;
  width: 100%;
  bottom: 90px;
    background: radial-gradient(white,transparent);
  background-color: rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.5em 3em;
  -webkit-background-clip: text;
  color: transparent;
  animation: slide 2s linear infinite;
  @keyframes slide {
    from {background-position-x: 0 }
    to {background-position-x: 150% }
  }
}
