$bg-blur-r: 40px;

body {
  margin: 0;
}

.lost-phone {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  // TODO：这里可能要斟酌一下到底用100vh还是100%。因为浏览器的边栏是不算在vh里的。
  height: 100vh;
  width: 100vw;
  margin: 0px;
  color: white;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 100;
  .backgroud {
    display: block;
    position: absolute;
    overflow: hidden;
    height: calc(100% + #{$bg-blur-r * 1.5} * 2);
    width: calc(100% + #{$bg-blur-r * 1.5} * 2);
    margin: -$bg-blur-r * 1.5;
    background: url(../../public/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur($bg-blur-r) brightness(0.65);
  }
  .topbar {
    flex: 0 0 auto;
  }
  main.content {
    flex: 1 0 auto;
    // 屏幕高度减去topbar高度
    height: calc(100% - 24px);
    .page {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

.carousel {
  height: 100%;
  &> div {
    height: 100%;
  }
  .slider {
    height: 100%;
  }
}