$button-width: 71px;
$button-border-width: 2px;
$border-color: rgb(86, 80, 96);
$buttom-margin: 9px;
$num-size: 42px;
$str-size: 9px;

.dial-pad {
  width: 3*($button-width + ($button-border-width + $buttom-margin) * 2);
  margin: auto;
}

.dial-button {
  display: inline-block;
  width: $button-width;
  height: $button-width;
  text-align: center;
  border-radius: 50%;
  border: solid $button-border-width $border-color;
  margin: $buttom-margin;
  &:last-child {
    margin: $buttom-margin auto;
    display: block;
  }
  .num {
    font-size: $num-size;
    font-weight: lighter;
    transform: translateY(5px);
  }
  .str {
    font-size: $str-size;
    transform: translateY(-2px);
    font-weight: lighter;
  }
}
