@import '../../components/common.scss';

$dot-size: 8px;
$dot-margin: 5px;
$dot-color: rgb(86, 80, 96);
$bottom-bar-height: 96px;
$app-size: 60px;
$app-margin-horizontal: calc((100vw - 4 * #{$app-size}) / 5);
$app-margin-vertical: 10px;
$app-border-radius: 16px;
$app-name-font-size: 12px;

.start-page {
  // 用transform的动画在safari上会有奇怪的表现
  // position: absolute;
  // transform: scale(1);
  // animation: init 0.5s;
  // transform-origin: center;
  // @keyframes init {
  //   from {
  //     // top: -300%;
  //     // bottom: -300%;
  //     // left: -300%;
  //     // right: -300%;
  //     transform: scale(5);
  //   }
  //   to {
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     // transform: scaleX(1);
  //     transform: scale(1);
  //   }
  // }
  // animation: init 0.5s;
  // @keyframes init {
  //   0% {
  //     height: 5680px;
  //     width: 3200px;
  //   }
  //   to {
  //     height: 100vh;
  //     width: 100vw;
  //   }
  // }

  main.content {
    display: flex;
    flex-direction: column;
  }

  .app-wrap {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    .carousel {
      flex: 1;
    }
    .app-pagination {
      text-align: center;
      .dot {
        display: inline-block;
        border-radius: 50%;
        height: $dot-size;
        width: $dot-size;
        margin: 0 $dot-margin;
        vertical-align: 1px;
        background-color: white;
        opacity: 0.5;
        &.full {
          background-color: white;
          opacity: 1;
        }
      }
    }
  }

  .app-list {
    padding: 0;
    margin: 0;
    width: 100vw;
    list-style: none;
  }

  .app {
    display: inline-block;
    text-align: center;
    width: $app-size;
    margin-right: $app-margin-horizontal;
    margin-bottom: $app-margin-vertical;
    &:nth-child(4n-3) {
      margin-left: $app-margin-horizontal;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    .app-icon {
      display: inline-block;
      width: $app-size;
      height: $app-size;
      border-radius: $app-border-radius;
    }
    .app-name {
      display: block;
      font-size: $app-name-font-size;
      font-weight: lighter;
    }
  }
  
  .bottom-bar {
    flex: 0 0 auto;
    position: relative;
    height: $bottom-bar-height;
    -webkit-backdrop-filter: blur(25px);
    // -webkit-filter: blur(30px);
    .app {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}